.room-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.room {
    display: flex;
    flex-grow: 1;
    width: 100vw;
    background: blue;
}


.messages {
    flex-grow: 1;
    position: relative;
}
.messages ul {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
}
.messages li {
    padding: 10px;

}

.participants {
    flex-shrink: 0;
    width: 240px;
    background: #ddd;
}

.message-input {
    position: relative;
    min-height: 125px;
    display: flex;
}
.message-input textarea {
    flex-grow: 1;
}
.message-input button {
    min-width: 100px;
}